Flask
Requests
backoff == 1.11.1
opentelemetry-distro==0.36b0
protobuf~=3.20
opentelemetry-exporter-otlp-proto-grpc==1.15.0
psutil==5.9.2 # Importing this will also import opentelemetry-instrumentation-system-metrics when running opentelemetry-bootstrap